.jumbotron {
    background-color: yellow;
    margin-top: 50px;
}
footer {
    background-color: yellow;
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
    margin-left: 5px;
/*    padding: 2px 5px 2px 5px;*/
}
.btn {
/*    background-color: green;*/
}
.btn-reserva {
    width: 100%;
    border-radius: 0px;
    background-color: blue;
    
}
.footer-address-icon {
    padding-right: 10px;
}
.btn-contacto {
    border-radius: 0px;
    margin-top: 10px;
}
